<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../static/css/registration.css" th:href="@{../css/registration.css}">
    
</head>
<body>
  <div th:fragment="menu">
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/welcome}" href="#" th:text="#{welcome.page.header.button}">Home</a></li>
          <li class="nav-item active" th:object="${member}">
            <a class="nav-link" href="#" th:href="@{/financial/{userName}/(userName=${member.userName})}" th:text="#{welcome.menuitem.finance.name}">Financial <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/personal}" href="#" th:text="#{welcome.manuitem.personal.name}">Personal</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" th:object="${member}">
                <a class="dropdown-item" href="#" th:text="${member.userName}">Member</a> <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <form action="#" method="post" th:action="@{/financial/{userName}/(userName=${member.userName})}" th:object="${financialForm}">
                  <button class="dropdown-item" type="submit" name="action" value="logout" 
                            th:value="*{T(org.finalproject.lhms.controller.form.FinancialForm.Action).LOGOUT}" th:text="#{button.logout}">Logout</button>
                </form>
              </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Bootstrap JavaScript and jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
      
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous">
      
    </script>
</body>
</html>
