<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div id="tableView" th:fragment="table">

<!-- Table source: https://colorlib.com/wp/css3-table-templates/ Responsive Table V2 by Colorlib-->
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
          <div class="table">

            <div class="row header">
              <div class="cell" th:text="#{financial.tableview.column.one}">
                Date
              </div>
              <div class="cell" th:text="#{financial.tableview.column.two}">
                Member
              </div>
              <div class="cell" th:text="#{financial.tableview.column.three}">
                Income
              </div>
              <div class="cell" th:text="#{financial.tableview.column.four}">
                Expanse
              </div>
            </div>

            <div class="row" th:each="tableItem : ${tableItems}">
              <div class="cell" data-title="Full Name" th:text="${tableItem.date}">
                Date
              </div>
              <div class="cell" data-title="Age" th:text="${tableItem.member}">
                Member
              </div>
              <div class="cell" data-title="Job Title" th:text="${tableItem.income}">
                Income
              </div>
              <div class="cell" data-title="Location" th:text="${tableItem.expense}">
                Washington
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>