@charset "UTF-8";
div.form, .limiter {
	box-shadow: 3px 3px #e5effc;
	background: #c0d9f7;
	border-radius: 10px;
}

.formHead, .formBody, .errors .form, #welcomeText {
	margin: auto;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
}

div.formBody table{
		position: relative;
		margin: 0 auto;
		font-size: 12px;	
}

div.errors {
		color: red;
		font-style: italic;
		text-align: right;
		font-size: 10px;
}

div.formBody table th {
		text-align: center;
}

div.housholdProp .errors {
		text-align: left;
	}
	
div.housholdProp label {
		font-weight: bold;
}

.loginErrors{
		color: red;
		font-style: italic;
		text-align: right;
		font-size: 15px;
	}

@media only screen and (min-width: 768px ) { 
	div.form {
			box-shadow: 3px 3px #e5effc;
			background: #c0d9f7;
			border-radius: 10px;
			margin: 10px auto;
	}
	.formHead, .formBody, .errors, .form, .limiter { 
			margin:auto;
			width: 60%;
			padding: 10px;
			position: relative;
			text-align: center;
			font-size: 20px;
	}
	
	div.formBody table {
			margin: 0 auto;
			font-size: 20px;
			background: white;
			position: inherit;
			border-radius: 10px;
	}
	
	div.errors {
			color: red;
			font-style: italic;
			text-align: right;
			font-size: 15px;
	}
	
	div.formHead button {
		font-weight: bold;
	}
	
	div.housholdProp .errors {
		text-align: center;
	}
	
	h1.loginHead {
		margin: auto;
		width: 60%;
		padding: 10px;
		text-align: center;
	}
	
	.loginErrors{
		color: red;
		font-style: italic;
		text-align: center;
		font-size: 15px;
	}
}