<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:object="${household}" th:text="${household.householdName}">Household name</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{../../css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/css/registration.css" th:href="@{../../css/registration.css}">
    <link rel="stylesheet" href="../../static/css/main_table.css" th:href="@{../../css/main_table.css}">

</head>
    <body>
        <div th:replace="fragments/main-page-header :: menu"></div>
       <header>
        <h1 th:text="#{financial.title}">Title</h1>
        <h1 th:text="#{financial.subtitle}">Sub Title</h1>
       </header>
<div class="form"> 
  <div class="formHead">
    <table>
      <tr>
        <td>
          <button onclick="hideTable()" name="action" value="diagram"
            th:text="#{button.diagramview}"
          >Diagram</button>
        </td>
        <td>
          <form action="#" th:action="@{/financial/{userName}/(userName=${member.userName})}" th:object="${financialForm}">
            <input hidden type="month" th:value="${currentMonth}" />
          </form>
        </td>
        <td>
          <button class="b2" onclick="showTable()" name="action" value="table"
            th:text="#{button.tableview}"
          >Table</button>
        </td>
      </tr>
    </table>
   </div>
 </div>
  <div id="tableView">
           <div th:replace="fragments/table-view :: table"></div>
        </div>
        <footer>
          <div class="form">
           <div class="formBody">
            <form action="#" method="post" th:action="@{/financial/{userName}/(userName=${member.userName})}" th:object="${financialForm}">
                <table>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <select th:field="*{memberGUID}">
                                <option value="#" th:each="member : ${members}" th:value="${member.memberGUID}" th:text="${member.userName}">MemberOne</option>
                            </select><br>
                            <input type="date" th:field="*{intakeDate}" th:style="${#fields.hasErrors('intakeDate')} ? 'border:2px solid red'"/>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{financial.tableview.column.three}"></label>
                            <input type="text" th:field="*{incomeItem}" th:style="${#fields.hasErrors('incomeItem')} ? 'border:2px solid red;'" th:placeholder="#{financial.textfield.title.label}"/><br>
                            <input type="number" th:field="*{incomeAmount}" th:style="${#fields.hasErrors('incomeAmount')} ? 'border:2px solid red;'" th:placeholder="#{financial.textfield.amount.label}"/>
                        </td>
                        <td>
                          <button type="submit" name="action" value="addIncome" 
                            th:value="*{T(org.finalproject.lhms.controller.form.FinancialForm.Action).ADD}" th:text="#{button.add}"></button>
                        </td>
                        <td>
                            <label th:text="#{financial.tableview.column.four}"></label>
                            <input type="text" th:field="*{expenseItem}" th:style="${#fields.hasErrors('incomeItem')} ? 'border:2px solid red;'" th:placeholder="#{financial.textfield.title.label}"/><br>
                            <input type="number" th:field="*{expenseAmount}" th:style="${#fields.hasErrors('incomeAmount')} ? 'border:2px solid red;'" th:placeholder="#{financial.textfield.amount.label}"/>
                        </td>
                    </tr>
                </table>
                
                <div class="errorIncome" th:if="${#fields.hasErrors('incomeItem')}" th:errors="*{incomeItem}"></div>
                <div class="errorExpense" th:if="${#fields.hasErrors('expenseItem')}" th:errors="*{expenseItem}"></div>
                <div th:if="${#fields.hasErrors('intakeDate')}" th:errors="*{intakeDate}"></div>
            </form>
           </div>
          </div>
        </footer>
  
  <script type="text/javascript" src="../../static/js/main.js" th:src="@{../../js/main.js}"></script>
  
  <!-- Bootstrap JavaScript and jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
  >
      
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
  >
      
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"
  >
      
    </script>
</body>
</html>
