<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{household.registration.title}">Register your household</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../static/css/registration.css" th:href="@{../css/registration.css}">
</head>
<body>
<div class="form">
  <form action="#" th:action="@{/household-registration-page.html}" th:object="${householdForm}" method="post">
  
    <div class="housholdProp">
      <label th:text="#{household.registration.name.label}"></label><br> 
      <input type="text" autocomplete="off" th:field="*{householdName}" th:errorclass="fieldError"/>
      <div class="errors" th:if="${#fields.hasErrors('householdName')}" th:errors="*{householdName}" th:text="#{error.notempty}">Error</div>
    </div>

    <div class="housholdProp">
      <label th:text="#{household.registration.adress.label}"></label><br> 
      <input type="text" autocomplete="off" th:field="*{householdAddress}" />
    </div>

    <div class="housholdProp">
      <label th:text="#{household.registration.membercount.label}"></label><br> 
      <input type="number" min="0" max="10" th:field="*{housholdMemberCount}" th:errorclass="fieldError"/>
      <div class="errors" th:if="${#fields.hasErrors('housholdMemberCount')}" th:text="#{error.notnull}">Error</div>
    </div>

    <button type="submit" name="action" value="register" 
      th:value="${T(org.finalproject.lhms.controller.form.HouseholdForm.Action).REGISTER}" th:text="#{button.register}">Register</button>
      
    <button type="submit" name="action" value="cancel" 
      th:value="${T(org.finalproject.lhms.controller.form.HouseholdForm.Action).CANCEL}" th:text="#{button.cancel}">Cancel</button>

  </form>
</div>
</body>
</html>