<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{lhms.title}">Employees</title>
<link rel="stylesheet" href="../static/css/landing-page.css" th:href="@{../css/landing-page.css}" />
</head>
<body>
  <div class="welcome">
    <h1 th:text="#{landingpage.welcome.text}">Welcome text</h1>
  </div>
  <div>
  <a href="household-registration-page.html" th:href="@{/household-registration-page.html}"> 
    <span class="buttonReg" th:text="#{landingpage.register.text}"> Reg</span>
  </a>
  <div>
  </div>
  <a href="login-page.html" th:href="@{/login-page.html}">
    <span th:text="#{landingpage.login.text}">Login</span>
  </a>
  </div>
</body>
</html>