<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/css/registration.css" th:href="@{../css/registration.css}">
        
    </head>
    <body>
      <header><h1 class="loginHead" th:text="#{login.title}">Title</h1></header>
        <div class="form">
          <form action="#" th:action="@{/}" th:method="POST" th:object="${loginForm}">
            <input type="text" th:field="*{loginName}" th:style="${#fields.hasErrors('loginName')}? 'border-color: red'" th:placeholder="#{login.username.label}"/><br>
            <input type="password" th:field="*{password}" th:style="${#fields.hasErrors('password')}? 'border-color: red'" th:placeholder="#{login.password.label}"/><br>
            <button type="submit" name="action" value="login" 
              th:value="${T(org.finalproject.lhms.controller.form.LoginForm.Action).LOGIN}" th:text="#{button.login}">Login</button>
            <button type="submit" name="action" value="cancel" 
              th:value="${T(org.finalproject.lhms.controller.form.LoginForm.Action).CANCEL}" th:text="#{login.registration.button}">Registration</button>
              <p><a href="../static/personal/lhms_documentation.pdf" th:href="@{../personal/lhms_documentation.pdf}">Dokumentáció</a></p>
              <div class="loginErrors">
                <span class="e1" th:errors="*{loginName}"></span>
                <span class="e2" th:errors="*{password}"></span>
              </div>
        </form>
       </div>
    </body>
</html>
