<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{member.registration.site.title}">Register your household member</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../static/css/registration.css" th:href="@{../css/registration.css}">
  <style type="text/css">
  
  </style>
  
  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/> -->
    
</head>
<body>
  <header><h1 th:text="#{member.registration.title}">Title</h1></header>
 
 <div class="form">
  <form action="#" method="post" th:action="@{/member-registration}" th:object="${memberForm}">
  
    <!-- Form head -->
    <div class="formHead">
    <button type="button" data-toggle="modal" data-target="#cancelModal" th:text="#{button.cancel}"></button>
    <select th:field="*{memberId}" th:style="${#fields.hasErrors('memberId')}? 'border:2px solid red'">
      <option th:each="member : ${householdMembers}" th:value="${member}" th:text="#{selector.text.prefix(${member})}">Member#:</option>
    </select>
    <button type="button" data-toggle="modal" data-target="#addModal" th:text="#{button.add}"></button>
    </div>
    <!-- Form head end -->
    
    <!-- Form body -->
    <div class="formBody">
    <table>
      <tr>
        <th th:text="#{member.registration.leftcolumn.label}">Personal</th>
        <th th:text="#{member.registration.rightcolumn.label}">User</th>
      </tr>
      <tr>
        <td><input type="text" th:field="*{firstName}" th:placeholder="#{member.registration.firstname.label}"
          th:style="${#fields.hasErrors('firstName')}? 'border-color: red'"/><!-- Firstname --></td>
        <td>
          <input type="text" th:field="*{userName}" th:placeholder="#{member.registration.loginname.label}" 
            th:style="${#fields.hasErrors('userName')}? 'border-color: red'"/><!-- UserName -->
        </td>
      </tr>
      <tr>
        <td><input type="text" th:field="*{lastName}" th:placeholder="#{member.registration.lastname.label}"
          th:style="${#fields.hasErrors('lastName')}? 'border-color: red'"/><!-- Lastname --></td>
        <td><input type="password" th:field="*{password}" th:placeholder="#{member.registration.password.label}"
          th:style="${#fields.hasErrors('password')}? 'border-color: red'"/><!-- Password --></td>
      </tr>
      <tr>
        <td><input type="text" th:field="*{phoneNumber}" th:placeholder="#{member.registration.phonenumber.label}"/><!-- Phone number --></td>
        <td><input type="password" th:field="*{passwordConfirmation}" th:placeholder="#{member.registration.passconfirm.label}"
          th:style="${#fields.hasErrors('passwordConfirmation')}? 'border-color: red'"/><!-- Password confirmation --></td>
      </tr>
      <tr>
        <td><input type="text" th:field="*{email}" th:placeholder="#{member.registration.email.label}"
          th:style="${#fields.hasErrors('email')}? 'border-color: red'"/><!-- Email --></td>
      </tr>
      <tr>
        <td><input type="text" th:field="*{emailConfirmation}" th:placeholder="#{member.registration.emailconf.label}"
          th:style="${#fields.hasErrors('emailConfirmation')}? 'border-color: red'"/><!-- Email Confirmation --></td>
      </tr>
      <tr>
        <td><input type="text" th:field="*{netWage}" th:placeholder="#{member.registration.income.textfield.label}"/><!-- Mothly income --></td>
      </tr>
    </table>
    </div>
    <!-- Form body end --> 
    
    <!-- Error messages -->
    <div class="errors">
      <div th:errors="*{memberId}"></div>
      <div th:errors="*{firstName}"></div>
      <div th:errors="*{lastName}"></div>
      <div th:errors="*{email}"></div>
      <div th:errors="*{emailConfirmation}"></div>
      <div th:errors="*{userName}"></div>
      <div th:errors="*{password}"></div>
      <div th:errors="*{passwordConfirmation}"></div>
    </div>
    
    <!-- ADD Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add one member</h5><!-- TODO: Have to add the message atribute -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p th:text="#{prompt.addhhmember.text}">Add Text</p>
          </div>
          <div class="modal-footer">
            <button type="submit" name="action" value="adding" class="btn btn-secondary" th:value="*{T(org.finalproject.lhms.controller.form.MemberForm.Action).ADD}" th:text="#{button.yes}">Yes</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
          </div>
        </div>
      </div>
    </div>
     
  </form>
 </div>
 
<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel one member</h5><!-- TODO: Have to add the message atribute -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p th:text="#{prompt.cancelhhmember.text}">Cancel Text</p>
      </div>
      <div class="modal-footer">
      <form action="#" method="post" th:action="@{/member-registration}" th:object="${memberForm}">
        <button type="submit" name="action" value="cancel" class="btn btn-secondary" th:value="*{T(org.finalproject.lhms.controller.form.MemberForm.Action).CANCEL}" th:text="#{button.yes}">Yes</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" th:text="#{button.no}">No</button>
       </form>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap JavaScript and jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
   </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous">
   </script>
   
</body>
</html>